.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: radial-gradient(circle, rgba(228,228,228,1) 17%, rgba(255,255,255,1) 66%);
  position: relative;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300%;
  height: 100%;
}

.input-name-add {
  height: 50px;
  color: chartreuse;
}
