main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  width: 95%;
  height: 95%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gold;
  position: relative;
  width: 1200px;
  height: 1000px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  background-color: rgb(137, 98, 98);
}

.greeting-li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(84, 28, 74);
  width: 100%;
  height: 100%;
}

.greeting-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: salmon;
  width: 100%;
  height: 100%;
}

.greeting {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  width: 100%;
  height: 100%;
}