.addFoodModal {
    position: fixed;
    top: 30%;
    left: 39%;
}

.add-food {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 40%;
    padding-right: 40%;
    background-color: rgb(44, 108, 71);
}

.overhang {
    position: fixed;
    top: 0px;
    padding: 20px;
    height: 100%;
    width: 100%;
    background-color: rgb(161, 161, 161);
    opacity: 60%;
}

.h3-title {
    color: rgb(250, 250, 250);
    text-transform: uppercase;
}

.add-food-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 25%;
}

.add-button {
    background-color: rgb(237, 143, 1);
    border: none;
    height: 50px;
    width: 150px;
    align-self: center;
    color: rgb(250, 250, 250);
    text-transform: uppercase;
}

.add-button:hover{
    background-color: rgb(214, 129, 1);
}

.input-add {
    background-color: gainsboro;
    border: none;
    height: 30px;
    border-radius: 2px;
    margin-bottom: 5px;
}

.input-add:hover {
    background-color: ghostwhite;
}
